<form novalidate (ngSubmit)="onSubmit()" [formGroup]="form">
  <h3 mat-dialog-title>Datos de la tarjeta</h3>

  <mat-dialog-content layout="column">
    <div layout>
      <mat-form-field flex class="pad-right">
        <input matInput placeholder="Autorización" formControlName="validacion" type="number">
      </mat-form-field>

      <mat-checkbox formControlName="visaMaster" class="pad" flex>Visa/MasterCard</mat-checkbox>

    </div>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button type="button" mat-button (click)="closeDialog()">Cancelar</button>
    <button type="submit" mat-button [disabled]="form.invalid">Salvar</button>
  </mat-dialog-actions>
</form>
