<form [formGroup]="form" (ngSubmit)="onSubmit()">

  <div layout layout-align="center center">
    <sx-cliente-field formControlName="cliente" flex></sx-cliente-field>
  </div>

  <div layout>

    <mat-form-field flex>
      <input type="text" matInput [disabled]="true" value="{{fecha | date: 'dd/MM/yyyy'}}" placeholder="Fecha">
    </mat-form-field>

    <mat-form-field class="pad-left" flex>
      <mat-select placeholder="Cartera" formControlName="cartera">
        <mat-option *ngFor="let cartera of ['CRE','CON','CHE','JUR']" [value]="cartera">
          {{ cartera }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="pad-left" flex>
      <mat-select placeholder="Tipo" formControlName="tipo">
        <mat-option *ngFor="let tipo of ['BONIFICACION','DEVOLUCION','FINANCIERO']" [value]="tipo">
          {{ tipo }}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div>
    <mat-form-field flex>
      <input type="text" matInput placeholder="Importe">
    </mat-form-field>
  </div>

  <div layout>
    <mat-form-field flex>
      <input matInput placeholder="Comentario">
    </mat-form-field>
  </div>
</form>

<pre>
  {{form.value | json}}
</pre>
