<span>
  <button mat-icon-button matTooltip="Alertas" [matMenuTriggerFor]="notificationsMenu">
    <td-notification-count color="accent" [notifications]="3">
      <mat-icon>notifications</mat-icon>
    </td-notification-count>
  </button>
  <mat-menu #notificationsMenu="matMenu">
    <td-menu>
      <div td-menu-header class="mat-subhead">Noticiaciones</div>
      <mat-nav-list dense>
        <ng-template let-last="last" ngFor [ngForOf]="[0,1,2]">
          <a mat-list-item>
            <mat-icon matListAvatar>today</mat-icon>
            <h4 mat-line><span class="text-wrap">Pruebas!</span></h4>
            <p mat-line>22 minutes ago</p>
          </a>
          <mat-divider *ngIf="!last"></mat-divider>
        </ng-template>
      </mat-nav-list>
      <button mat-button color="accent" td-menu-footer>
        Ver todas las notificaciones del cliente
      </button>
    </td-menu>
  </mat-menu>
</span>