<span mat-dialog-title>Seleccione un periodo</span>
<mat-dialog-content>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Fecha inicial" >
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker2" placeholder="Fecha final" [formControl]="fechaFinal">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>

</mat-dialog-actions>
